.red{
    color: red;
}
/*------------Homepage and Common---------------*/
body{
    background-image: url("../css/images/1301.jpg");
    background-position: right;
}
p{
    font-family: Arial;
    font-size: large;
    color: blueviolet;
}
/*------------------NavBar related--------------------*/
.navbar{
    background-color: #302c2c !important;
    border-radius: 0;
}

.navbar a{
    color: white !important;
}
.navbar a:hover{
    background-color: #494646 !important;
    color: rgb(255, 255, 255) !important;  
}
.navbar ul{
    background-color: #302c2c !important;
    color: rgb(255, 255, 255) !important;
}
.navbar ul:hover{
    background-color: #302c2c !important;
    color: rgb(255, 255, 255) !important;  
}

#tog{
    color: white;
}

/*------------------------------------------------*/
.form-errors{
    border-radius: 8px;
    margin: 10px 25px 45px 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.form-errors ul.has-errors{
    padding: 10px 15px;
    border: 1px solid #a94442;
    border-radius: 8px;
}

.form-errors li {
    list-style: none;
    font-size: 16px;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

hr.light-100{
border-top: 1px solid #d5d5d5;
width: 100%;
margin-top: 0.8rem;
margin-bottom: 1rem;
}

::selection{
background-color: transparent;
}

/**************Common****************/



/**************FineSheet*************/