.red{
    color: red;
}
/*------------Homepage and Common---------------*/
body{  
    background-position: right;
    background: rgb(239,238,247);
background: linear-gradient(90deg, rgba(239,238,247,1) 0%, rgba(250,250,250,1) 100%);
}
p{
    font-family: Arial;
    font-size: large;
}
/*------------------NavBar related--------------------*/
.navbar{
    background-color: #302c2c !important;
    border-radius: 0;
    margin: 0;
}

.navbar a{
    color: white !important;
}
.navbar a:hover{
    background-color: #494646 !important; 
}
.navbar a:focus{
    background-color: #302c2c !important;
}
.navbar ul{
    background-color: #302c2c !important;
    color: rgb(255, 255, 255) !important;
}
.navbar ul:hover{
    background-color: #302c2c !important;
    color: rgb(255, 255, 255) !important;  
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #302c2c !important;
}

#tog{
    color: white;
}

#policeLogo{
    display: inline;
    height: 50px;
    background-color: transparent;
    margin-top:0;
    margin-bottom: 0;
}

/*------------------------------------------------*/
.form-errors{
    border-radius: 8px;
    margin: 10px 25px 45px 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.form-errors ul.has-errors{
    padding: 10px 15px;
    border: 1px solid #a94442;
    border-radius: 8px;
}

.form-errors li {
    list-style: none;
    font-size: 16px;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left:0;
    right: 0;
    
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

hr.light-100{
border-top: 1px solid #d5d5d5;
width: 100%;
margin-top: 0.8rem;
margin-bottom: 1rem;
}

::selection{
background-color: transparent;
}

/**************Common****************/
.formUnderNav{
    margin-top: 30px;
}

.well{
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
/********************Header***************************/
header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../css/images/police1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-subheading {
font-size: 1.8rem;
font-style: italic;
line-height: 1.8rem;
margin-bottom: 25px;
text-shadow : 3px 3px 5px #00002f; 
font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
font-size: 3.25rem;
font-weight: 700;
line-height: 3.25rem;
margin-bottom: 2rem;
text-shadow : 2px 2px 4px #000000; 
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }

    
}

/********************Service***************************/
section{
    color : #000000;
}
#service-heading{
    color: #000000;  
}

#serviceHeading{
    text-shadow : 1px 1px 2px #000000; 
    padding: 20px;
    font-size: 3.5rem;
}

.serviceSubHead{
    
    padding: 5px;
    color: #383535;
    font-size: 2rem; 
}

/*Two Columns*/
.serviceImgCover{
    max-width: 50%;
    height: 275px; 
    text-align : center;
    vertical-align: middle;
    
}

.servicesSVG{
    max-height: 90%;
    max-width: 100%;
    display: block;
}

.serviceButton{
    padding: 10px;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 40%;
}

/*Offender------------------*/
.serviceImgCover3{
    max-width: 80%;
    height: 250px; 
    text-align : center;
    vertical-align: middle;
}

.servicesSVG3{
    max-height: 100%;
    max-width: 100%;
    display: block;
    text-align : center;
    
    
}

.serviceButton3{
    padding: 10px;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 80%;
}

#officerSVG{
    max-height: 90% !important;
}




/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.finesheet-preview{
    display: flex;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    padding: 12px;
    margin: 18px 0px;
}

.finesheet-preview-info p{
    font-size: 12px;
    margin-bottom: 6px;
}

.finesheet-preview-info p:nth-child(1){
    font-size: 15px;
    font-weight: bold;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Two Columns*/
    .serviceImgCover{
        max-width: 50%;
        height: 350px; 
        text-align : center;
        vertical-align: middle;
    }

    .servicesSVG{
        max-height: 100%;
        max-width: 100%;
        display: block;
    }

    .serviceButton{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 40%;
    }

    
    /*Offender------------------*/
    .serviceImgCover3{
        max-width: 60%;
        height: 200px; 
        text-align : center;
        vertical-align: middle;
    }
    
    .servicesSVG3{
        max-height: 100%;
        max-width: 100%;
        display: block;
        text-align : center;
    }
    
    .serviceButton3{
        padding: 10px;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 50%;
    }
}
/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
    /*Two Columns*/
    .serviceImgCover{
        max-width: 50%;
        height: 275px; 
        text-align : center;
        vertical-align: middle;

    }

    .servicesSVG{
        max-height: 90%;
        max-width: 100%;
        display: block;
    }

    .serviceButton{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 40%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*Two Columns*/
    .serviceImgCover{
        max-width: 50%;
        height: 275px; 
        text-align : center;
        vertical-align: middle;
        
    }

    .servicesSVG{
        max-height: 90%;
        max-width: 100%;
        display: block;
    }

    .serviceButton{
        padding: 10px;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 50%;
    }

    /*Offender------------------*/
    .serviceImgCover3{
        max-width: 60%;
        height: 200px; 
        text-align : center;
        vertical-align: middle;
    }
    
    .servicesSVG3{
        max-height: 100%;
        max-width: 100%;
        display: block;
        text-align : center;
    }
    
    .serviceButton3{
        padding: 10px;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 60%;
    }

}

/* Medium devices (landscape tablets, 850 and up) */
@media only screen and (min-width: 850px) {
    /*Two Columns*/
    .serviceImgCover{
        max-width: 50%;
        height: 350px; 
        text-align : center;
        vertical-align: middle;
    }

    .servicesSVG{
        max-height: 90%;
        max-width: 100%;
        display: block;
    }

    .serviceButton{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 40%;
    }
    
    /*Offender------------------*/
    .serviceImgCover3{
        max-width: 60%;
        height: 280px; 
        text-align : center;
        vertical-align: middle;
    }
    
    .servicesSVG3{
        max-height: 100%;
        max-width: 100%;
        display: block;
        text-align : center;
    }
    
    .serviceButton3{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 60%;
    }

    #offenderSVG{
        max-height: 90% !important;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*Two Columns*/
    .serviceImgCover{
        max-width: 50%;
        height: 250px; 
        text-align : center;
        vertical-align: middle;
    }

    .servicesSVG{
        max-height: 90%;
        max-width: 100%;
        display: block;
    }

    .serviceButton{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 50%;
    }

    /*Offender------------------*/
    .serviceImgCover3{
        max-width: 80%;
        height: 250px; 
        text-align : center;
        vertical-align: middle;
    }
    
    .servicesSVG3{
        max-height: 100%;
        max-width: 100%;
        display: block;
        text-align : center;
    }
    
    .serviceButton3{
        padding: 10px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 50px;
        width: 80%;
    }

    #offenderSVG{
        max-height: 90% !important;
    }
}